.no-bullet {
list-style: none;
}
.checklist-progressbar input[type="checkbox"] {
    cursor: pointer;
    margin-left: -1.75em;
    margin-left: -1.75em;
}
.checklist-progressbar .progressbar {
    box-sizing: content-box;
    position: relative;
    border-radius: 1px;
    background-color: #ddd;
    height: 10px;
    margin-top: 0em;
    margin-right: 2em;
}
.checklist-progressbar .progressbar .progressbar-inner {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: green;
    transition: all .3s linear;
}

.checklist-progressbar .progressbar .progressbar-value {
    position: absolute;
    top: -.25em;
    right: -2.6em;
    min-width: 2.6em;
    width: 15%;
    font-size: 1em;
    line-height: 1;
    text-align: right;
}

.checklist-progressbar input:checked + label {
    font-style: italic;
    text-decoration: line-through;
}

.checklist-progressbar li {
    position: relative;
}

.checklist-progressbar input + label::before{
    content:'';
    display:block;
    position:absolute;
    top: 50%;
    left: 1.5em;
    width:0%;
    height:1px;
    background: green;
    transition:.25s ease-in-out;
}

.checklist-progressbar input:checked + label::before{
    width: calc(100% - 3em);
}
.floating-panel {
    width: 12%;
    position: fixed;
    right: 17%;
    bottom: 0%;
    border-radius: 0px;
    padding: 1em;
}