{% extends "base.html" %}

{% block extrahead %}
{% if config.extra and config.extra.dt and config.extra.dt.rumagent and config.extra.dt.rumagent.snippet %}
{{ config.extra.dt.rumagent.snippet }}
{% endif%}
{% endblock %}

{% block footer %}
{% if config.extra and config.extra.progressbar and config.extra.obslab and config.extra.progressbar[page.title] %}
<script>
    var pageTitle = "{{ page.title }}";
    var obslab = "{{ config.extra.obslab }}";

</script>

<div class="floating-panel">
    <h2>Page Progress</h2>
    <p>Use these checkmarks to track your progress</p>

    <div class="checklist-progressbar">
        <ul>
            {% for item in config.extra.progressbar[page.title] %}
            <li class="no-bullet">
                <input type="checkbox" id="{{ item }}">
                <label>{{ item }}</label>
            </li>
            {% endfor %}
        </ul>
    <div class="progressbar">
        <div class="progressbar-inner"></div>
        <div class="progressbar-value"></div>
    </div>
</div>
</div>
{% endif%}
{% endblock %}